<div class="card-text border-{{ card.faction_code }}">
	{{ card.text|raw }}
</div>
{% if card.victory %}
	<div class="victory">{{'card.info.victorypoints' | trans({'%points%': card.victory})}}.</div>
{% endif %}